.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.box {
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 1em;
}

my-title {
    background-color: lightblue;
    grid-column: 1 / -1;
    grid-row: 1;
}
